*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.hidden{
	display:none;
}
.btn{
	color: #0366d6;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}
.btn:hover{
	cursor: pointer;
}
/************ HEADER ***********/
header{
	border: 1px solid black;
	display: flex;
	justify-content: space-around;
}

#logo{
	display: block;
	width: 250px;
	height: 100px;
	background:url(https://i.annihil.us/u/prod/misc/marvel.svg);
}

#userForms{
	display: flex;
}

#userForms form{
	padding: 0 10px;
}

#logout{
	height: 30px;
	margin: auto;
}

/************ MAIN ***********/
/************ Main Section ***********/
main{
	border: 1px solid blue;
	display: flex;
	justify-content: space-around;
	min-height: 200px;
}

#main{
	width: 100%;
}

#paginationContainer{
	text-align: center;
	height: 50px;
	line-height: 50px;
}
#heroesContainer{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.paginationBtn{
	padding: 0 15px;
}
.paginationBtn:hover{
	cursor: pointer;
}
/************ Sidebar ***********/
#sidebar{
	width: 225px;
	border:1px solid green;
}

#notifications{
	padding: 15px;
	color : red;
}
#favouritesContainer{
	padding: auto;
	text-align: center;
}

/************ Hero Card ***********/
.card:hover{
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.8);
}
.card{
	margin: 10px;
	height: 300px;
	width: 150px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.cardName{
	border-radius: 10px 10px 0 0;
	height: 50px;
	line-height: 50px;
	text-align: center;
	overflow: hidden;
}
.cardPicture{
	height: 175px;
	width: 150px;
	cursor: pointer;
}
.cardDescription{
	border-radius: 0 0 10px 10px;
	height: 65px;
	overflow: hidden;
	padding: 6px;
}

/******** HeroDetails Modal  *******/
#heroDetailsModal{
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; /
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 50%;
  	display: flex;
}
.dataModal{
	margin-left: 5px;
	width: 50%;
}

.dataModal p{
	margin: 5px 0 10px;
}

#firstAppeareances{
	margin-left: 20px;
}

/************ FOOTER ***********/
footer{
	border: 1px solid green;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

/************ LOADER ***********/
.loaderModal{
  position: fixed; 
  z-index: 1; 
  padding-top: 40vh; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  position: relative;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

